
project/主要工程模块化整合v1.01/brmp/common_dao/src/main/resources/properties/jdbc.properties
project/主要工程模块化整合v1.01/brmp/brmp_webservice_out/.tern-project
project/主要工程模块化整合v1.01/brmp/brmp_ssofilter_sheng/src/main/resources/properties/jdbcauth.properties
project/BRMP_join_0/src/main/resources/properties/jdbc.properties
