.top .ss{
    width: 520px;
    height: 31px;
    margin: 0 auto;
}
.top .ss span{
    display: inline-block;
    width: 396px;
    height: 29px;
    border: 1px solid #8eaac3;
    border-radius: 14px;
}
.top .ss span img{
    margin-top: 4px;
    margin-left: 20px;
}
.top .ss span input{
    border: none;
    outline: none;
    height: 24px;
    width: 328px;
    text-indent: 5px;
    vertical-align: 6px;
    background: transparent;
}
.top .ss button{
    width: 100px;
    height: 31px;
    background: #37b3df;
    background-image: linear-gradient(to right,#39a5dc,#35c5e3);
    border: none;
    outline: none;
    border-radius: 14px;
    margin-left: 15px;
    vertical-align: 5px;
}
.top .ss button a{
    text-decoration: none;
    color: white;
}
.contain{
    margin-top: 10px;
    border-top: 1px solid #c8d5f8;
    padding: 10px 13px 14px 13px;
}
.contain .detInfo .detBg{
    border: 1px solid #cce3f2;
    background: #fafdfe;
    padding: 13px 14px 14px 20px;
    border-radius: 2px;
    margin-bottom: 10px;
}
.contain .detInfo .detBg .title .sp1{
    display: inline-block;
    margin-top: 3px;
}
.contain .detInfo .detBg .title .sp1 i{
    display: inline-block;
    width: 4px;
    height: 12px;
    background: #4565bb;
    margin-right: 5px;
}
.contain .detInfo .detBg .title .sp1 label{
    color: #2b4485;
}
.contain .detInfo .detBg .title .sp2{
    float: right;
    display: inline-block;
    width: 85px;
    height: 25px;
    line-height: 25px;
    background: #3373d2;
    text-align: center;
    font-size: 13px;
    border-radius: 2px;
}
.contain .detInfo .detBg .title .sp2 img{
    vertical-align: -2px;
}
.contain .detInfo .detBg .title .sp2 label{
    color: white;
}
.contain .detInfo .detBg .detCon{
    margin-left: 13px;
}
.contain .detInfo .detBg .detCon .detConFont{
    margin-top: 5px;
    margin-bottom: 7px;
    color: #666666;
}
.contain .detInfo .detBg .detCon .detConSum .sum span{
    font-size: 13px;
    color: #7386bc;
}
.contain .detInfo .detBg .detCon .detConSum .sum .sp2{
    margin-left: 30px;
}
.contain .detInfo .detBg .detCon .detConSum .sumOne{
    float: left;
}
.contain .detInfo .detBg .detCon .detConSum .sumTwo{
    float: right;
}
.contain .page{
    padding-top: 7px;
}
.contain .page .pageLeft{
    float: left;
}
.contain .page .pageLeft select{
    border: 1px solid #c5c8d0;
    border-radius: 2px;
    width: 48px;
    height: 22px;
    text-indent: 5px;
    outline: none;
    font-size: 12px;
}
.contain .page .pageLeft span a{
    display: inline-block;
    padding: 0 7px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    border: 1px solid #c5c8d0;
    border-radius: 2px;
    color: black;
}
.contain .page .pageLeft span .ADiff{
    margin-left: 23px;
}
.contain .page .pageLeft span label{
    margin-left: 10px;
    font-size: 12px;
}
.contain .page .pageLeft span label input{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #c5c8d0;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
}
.contain .page .pageRight{
    float: right;
    font-size: 12px;
}
.contain .page .pageRight label{
    margin: 0 2px;
}

.contain .top .topCon{
    border: 1px solid #dbebf6;
    background: #fbfefe;
    border-radius: 4px;
    padding: 12px 23px 12px 15px;
}
.contain .top .topCon .topConSame label{
    font-size: 13px;
    color: #666666;
    display: inline-block;
    width: 170px;
    text-align: right;
}
.contain .top .topCon .topConSame input{
    border: 1px solid #e4e8ec;
    text-indent: 6px;
}
.contain .top .topCon .topConOne .leftSame input{
    width: 265px;
    height: 30px;
}
.contain .top .topCon .topConOne .leftSame{
    float: left;
    width: 50%;
}
.contain .top .topCon .topConOne .leftTwo{
    text-align: right;
}
.contain .top .topCon .topConTwo{
    margin-top: 13px;
}
.contain .top .topCon .topConTwo label{
    float: left;
    margin-top: 14px;
}
.contain .top .topCon .topConTwo div{
    margin-left: 174px;
}
.contain .top .topCon .topConTwo div input{
    width: 100%;
    height: 46px;
}
.contain .bot .font{
    font-size: 13px;
    color: #bb1c41;
    margin: 15px 0 10px 0;
}
.contain .bot .font1{
    margin: 12px 0 20px 0;
}
.contain .bot .botTable .uiTable tbody tr:nth-child(odd){
    background: #f8f8fa;
}
.contain .bot .botBtn{
    text-align: center;
}
.contain .bot .botBtn .btn1{
    background: #f4b641;
    background-image: linear-gradient(to right,#f3af40,#f5bb41);
}
.contain .bot .botBtn .btn2{
    background: #37b4df;
    background-image: linear-gradient(to right,#39a5dc,#35c5e3);
}

