body{
    width: 100%;
    min-width: 1366px;
}

.headBox{
    position: relative;
}
.headBox > .headBoxBg{
    position: absolute;
    width: 100%;
    height: 100%;
}
.headBox > .headTop{
    position: relative;
    height: 82px;
    line-height:82px;
    padding: 0 30px 0 51px;
    z-index: 6;
}
.headBox > .headTop .topLeft{
    float: left;
}
.headBox > .headTop .topLeft img{
    vertical-align: -12px;
}
.headBox > .headTop .topLeft label{
    color: white;
    font-size: 24px;
    margin-left: 5px;
}
.headBox > .headTop .topRight{
    float: right;
    text-align: right;
}
.headBox > .headTop .topRight .det{
    float: right;
    margin-right: 15px;
    line-height: 85px;
}
.headBox > .headTop .topRight .det .itemDet{
    margin-right: 26px;
    padding: 11px 17px 9px 17px;
    border: 1px solid transparent;
    border-radius: 19px;
    transition: .3s;
}
.headBox > .headTop .topRight .det .itemDet.active{
    border-color: #3f5697;
    background: #082064;
    box-shadow: 0 0 10px #3f5697 inset;
}
.headBox > .headTop .topRight .det .itemDet:hover{
    border-color: #3f5697;
    background: #082064;
    box-shadow: 0 0 10px #3f5697 inset;
}
.headBox > .headTop .topRight .det .itemDet img{
    margin-right: 5px;
    vertical-align: -2.5px;
}
.headBox > .headTop .topRight .det .itemDet a{
    color: white;
    text-decoration: none;
}
.headBox > .headTop .topRight .login{
    float: right;
}
.headBox > .headTop .topRight .login img{
    vertical-align: -2px;
    margin-right: 5px;
}
.headBox > .headTop .topRight .login span a{
    color: #acd9f8;
    font-size: 16px;
}
.headBox > .headTop .topRight .login span i{
    color: #acd9f8;
    margin-left: 12px;
    margin-right: 12px;
}

.pubTop{
    padding: 18px 13px 15px 13px;
}
.pubTop img{
    vertical-align: -1px;
    margin-right: 4px;
}
.pubTop span label{
    color: #355597;
}

.uiTable{
    width: 100%;
    border: 1px solid #e5e5e5;
}
.uiTable thead tr th{
    padding: 6px;
    color: white;
    text-align: center;
    background: #5e72a7;
    font-size: 13px;
}
.uiTable tbody tr td{
    padding: 6.5px;
    color: #807f7f;
    text-align: center;
    border: 1px solid #e5e5e5;
    font-size: 12px;
}

.btn{
    width: 83px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    margin: 0 23px;
}

.footBox{
    height: 129px;
    background: #31343d;
    text-align: center;
}
.footBox .footSame span{
    color: white;
    font-size: 13px;
}
.footBox .footOne{
    padding-top: 36px;
}
.footBox .footOne .sp2{
    margin-left: 60px;
}
.footBox .footTwo .sp2{
    margin-left: 40px;
}
.footBox .footTwo{
    padding-top: 13px;
}






