.icon-blank{
	background:url('../../img/easyui_icon/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('../../img/easyui_icon/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('../../img/easyui_icon/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('../../img/easyui_icon/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('../../img/easyui_icon/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('../../img/easyui_icon/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('../../img/easyui_icon/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('../../img/easyui_icon/ok.png') no-repeat center center;
}
.icon-no{
	background:url('../../img/easyui_icon/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('../../img/easyui_icon/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('../../img/easyui_icon/reload.png') no-repeat center center;
}
.icon-search{
	background:url('../../img/easyui_icon/search.png') no-repeat center center;
}
.icon-print{
	background:url('../../img/easyui_icon/print.png') no-repeat center center;
}
.icon-help{
	background:url('../../img/easyui_icon/help.png') no-repeat center center;
}
.icon-undo{
	background:url('../../img/easyui_icon/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('../../img/easyui_icon/redo.png') no-repeat center center;
}
.icon-back{
	background:url('../../img/easyui_icon/back.png') no-repeat center center;
}
.icon-sum{
	background:url('../../img/easyui_icon/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('../../img/easyui_icon/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('../../img/easyui_icon/filter.png') no-repeat center center;
}
.icon-man{
	background:url('../../img/easyui_icon/man.png') no-repeat center center;
}
.icon-lock{
	background:url('../../img/easyui_icon/lock.png') no-repeat center center;
}
.icon-more{
	background:url('../../img/easyui_icon/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('../../img/easyui_icon/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('../../img/easyui_icon/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('../../img/easyui_icon/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('../../img/easyui_icon/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('../../img/easyui_icon/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('../../img/easyui_icon/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('../../img/easyui_icon/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('../../img/easyui_icon/large_chart.png') no-repeat center center;
}
