html,body{
    height: 100%;
    background: #f4f7f9;
    position: relative;
}
.main{
    /* padding: 11px 26px 24px 26px; */
    position: absolute;
    left: 26px;
    right: 26px;
    bottom: 24px;
    top: 95px;
}
.main .left{
    float: left;
    width: 279px;
    height: 100%;
    border: 1px solid #cce3f2;
    background: white;
    border-radius: 2px;
    overflow-y: auto;
}
.main .left .leftTitle{
    width: 129px;
    height: 32px;
    line-height: 32px;
    background: #3169b9;
    margin-top: 8px;
    background-image: linear-gradient(to right,#3c8cce,#284ca8);
    border-radius: 0 15px 15px 0;
}
.main .left .leftTitle img{
    margin-left: 20px;
    margin-right: 9px;
    vertical-align: -3px;
}
.main .left .leftTitle label{
    color: white;
}
/* .main .left .ztree{
    margin: 14px 12px 14px 10px;
} */
.open{
    display: none;
}
.main .left .ztree .ztreeBox .treeTop{
    cursor: pointer;
    margin: 14px 12px 11px 10px;
}
.main .left .ztree .ztreeBox .treeTop .imgOne{
    vertical-align: -2px;
}
.main .left .ztree .ztreeBox .treeTop label{
    font-size: 16px;
    color: #284da9;
    margin-left: 3px;
    margin-right: 11px;
    cursor: pointer;
}
.main .left .ztree .ztreeBox .treeTop .imgTwo{
    vertical-align: 2px;
}
.treeInner{
    position: relative;
    margin-bottom: 4px;
    padding: 5px 10px 5px 45px;
}
.treeInner .line{
    position: absolute;
    left: 30px;
    display: inline-block;
    width: 15px;
}
.treeInner .line1{
    top: 12px;
    height: 21px;
    background: url("../../img/myhtml_imgs/outTreeImg1.png") no-repeat;
}
.treeInner .line2{
    top: -17px;
    height: 36px;
    background: url("../../img/myhtml_imgs/outTreeImg3.png") no-repeat;
}
.treeInner a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
}
.treeInner.openBg{
    background: #dae5ff;
}
.treeInner a span{
    color: #323f5f;
}
.treeInner .icon{
    display: inline-block;
    position: absolute;
    height: 5px;
    width: 10px;
    background: url("../../img/myhtml_imgs/zymlLeftIcon3.png") no-repeat center;
    right: 10px;
    top: 12px;
    cursor: pointer;
}
.treeInner .icon.change{
    background: url("../../img/myhtml_imgs/zymlLeftIcon2.png") no-repeat center;
}
.subTree .subTreeOne li{
    position: relative;
}
.subTree .subTreeOne li .line01{
    position: absolute;
    top: 0px;
    left: 30px;
    display: inline-block;
    width: 15px;
    height: 31px;
    background: url("../../img/myhtml_imgs/outTreeImg2.png") no-repeat;
}
.subTree .subTreeOne li .line01-first{
    top: -18px;
    height: 48px;
    background: url("../../img/myhtml_imgs/outTreeImg2-first.png") no-repeat;
}
.subTree .subTreeOne li .line02{
    position: absolute;
    top: -14px;
    left: 50px;
    display: inline-block;
    width: 12px;
    height: 30px;
    background: url("../../img/myhtml_imgs/inTreeImg1.png") no-repeat;
}
.subTree .subTreeOne li .lineOne{
    top: -3px;
    height: 22px;
    background: url("../../img/myhtml_imgs/inTreeImg2.png") no-repeat;
}
.subTree .subTreeOne li{
    padding: 5px 10px 5px 65px;
}
.subTree .subTreeOne li.openBg{
    background: #dae5ff;
}
.subTree .subTreeOne .lastLi{
    margin-bottom: 13px;
}
.subTree .subTreeOne li a{
    text-decoration: none;
}
.subTree .subTreeOne li a span{
    color: #323f5f;
}

.main .right{
    height: 100%;
    border: 1px solid #cce3f2;
    background: white;
    border-radius: 2px;
    margin-left: 292px;
    overflow-y: hidden;
}

/* 资源目录 */
.zyml > .top .ss{
    width: 520px;
    height: 31px;
    margin: 0 auto;
}
.zyml > .top .ss span{
    display: inline-block;
    width: 396px;
    height: 29px;
    border: 1px solid #8eaac3;
    border-radius: 14px;
}
.zyml > .top .ss span img{
    margin-top: 4px;
    margin-left: 20px;
}
.zyml > .top .ss span input{
    border: none;
    outline: none;
    height: 24px;
    width: 328px;
    text-indent: 5px;
    vertical-align: 6px;
    background: transparent;
}
.zyml > .top .ss button{
    width: 100px;
    height: 31px;
    background: #37b3df;
    background-image: linear-gradient(to right,#39a5dc,#35c5e3);
    border: none;
    outline: none;
    border-radius: 14px;
    margin-left: 15px;
    vertical-align: 5px;
}
.zyml > .top .ss button a{
    text-decoration: none;
    color: white;
}
.zyml > .contain{
    margin-top: 10px;
    border-top: 1px solid #c8d5f8;
    padding: 10px 13px 14px 13px;
}
.zyml > .contain .detInfo .detBg{
    border: 1px solid #cce3f2;
    background: #fafdfe;
    padding: 13px 14px 14px 20px;
    border-radius: 2px;
    margin-bottom: 10px;
}
.zyml > .contain .detInfo .detBg .title .sp1{
    display: inline-block;
    margin-top: 3px;
}
.zyml > .contain .detInfo .detBg .title .sp1 i{
    display: inline-block;
    width: 4px;
    height: 12px;
    background: #4565bb;
    margin-right: 5px;
}
.zyml > .contain .detInfo .detBg .title .sp1 label{
    color: #2b4485;
}
.zyml > .contain .detInfo .detBg .title .sp2{
    float: right;
    display: inline-block;
    width: 85px;
    height: 25px;
    line-height: 25px;
    background: #3373d2;
    text-align: center;
    font-size: 13px;
    border-radius: 2px;
}
.zyml > .contain .detInfo .detBg .title .sp2 img{
    vertical-align: -2px;
}
.zyml > .contain .detInfo .detBg .title .sp2 label{
    color: white;
}
.zyml > .contain .detInfo .detBg .detCon{
    margin-left: 13px;
}
.zyml > .contain .detInfo .detBg .detCon .detConFont{
    margin-top: 5px;
    margin-bottom: 7px;
    color: #666666;
}
.zyml > .contain .detInfo .detBg .detCon .detConSum .sum span{
    font-size: 13px;
    color: #7386bc;
}
.zyml > .contain .detInfo .detBg .detCon .detConSum .sum .sp2{
    margin-left: 30px;
}
.zyml > .contain .detInfo .detBg .detCon .detConSum .sumOne{
    float: left;
}
.zyml > .contain .detInfo .detBg .detCon .detConSum .sumTwo{
    float: right;
}
.zyml > .contain .page{
    padding-top: 7px;
}
.zyml > .contain .page .pageLeft{
    float: left;
}
.zyml > .contain .page .pageLeft select{
    border: 1px solid #c5c8d0;
    border-radius: 2px;
    width: 48px;
    height: 22px;
    text-indent: 5px;
    outline: none;
    font-size: 12px;
}
.zyml > .contain .page .pageLeft span a{
    display: inline-block;
    padding: 0 7px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    border: 1px solid #c5c8d0;
    border-radius: 2px;
    color: black;
}
.zyml > .contain .page .pageLeft span .ADiff{
    margin-left: 23px;
}
.zyml > .contain .page .pageLeft span label{
    margin-left: 10px;
    font-size: 12px;
}
.zyml > .contain .page .pageLeft span label input{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #c5c8d0;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
}
.zyml > .contain .page .pageRight{
    float: right;
    font-size: 12px;
}
.zyml > .contain .page .pageRight label{
    margin: 0 2px;
}

/* 搜索结果 */
.ssjg > .contain{
    position: relative;
    margin-top: 45px;
}
.ssjg > .contain .ssjgCon{
    position: absolute;
    top: -22px;
}
.ssjg > .contain .ssjgCon label{
    margin: 0 3px;
}

/* 资源申请弹框 */
.alertBox{
    width: 1160px;
    height: 576px;
    display: none;
    background: white;
}
.alertBox .title{
    text-align: center;
    position: relative;
    height: 47px;
    line-height: 47px;
}
.alertBox .title label{
    font-size: 16px;
    color: #334d95;
    margin: 0 4px;
}
.alertBox .title .alertClose{
    position: absolute;
    right: 9px;
    top: 12px;
}
.alertBox .boxCon{
    padding: 0 40px;
}
.alertBox .boxCon .boxConLeft{
    float: left;
    height: 470px;
    overflow-y: auto;
    width: 484px;
}
.alertBox .uiTable tbody tr td i,
.alertBox .uiTable thead tr th i{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../../img/myhtml_imgs/alertBoxImg3.png") no-repeat;
}
.alertBox .uiTable tbody tr td i.change,
.alertBox .uiTable thead tr th i.change{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../../img/myhtml_imgs/alertBoxImg4.png") no-repeat;
}
.alertBox .boxCon .boxConCenter{
    float: left;
    width: 110px;
    text-align: center;
    margin-top: 200px;
}
.alertBox .boxCon .boxConCenter p{
    font-size: 16px;
    margin-top: 5px;
}
.alertBox .boxCon .boxConRight{
    float: left;
    width: 484px;
    height: 470px;
    overflow-y: auto;
}
.alertBox .boxCon .boxConRight .select{
    text-align: right;
    margin-top: 10px;
}
.alertBox .boxCon .boxConRight .select span{
    font-size: 12px;
    color: red;
    margin-left: 12px;
}
.alertBox .boxCon .boxConRight .uiTable tr td{
    cursor: default;
}
.alertBox .alertBtn{
    margin-top: 14px;
    text-align: center;
}
.alertBox .alertBtn button{
    margin: 0 30px;
}
.alertBox .alertBtn .btn1{
    background: #f4b543;
    background-image: linear-gradient(to right,#eaa93d,#fdc248);
}
.alertBox .alertBtn .btn2{
    background: #37b5df;
    background-image: linear-gradient(to right,#39a5dc,#35c5e3);
}
.alertBox .alertBtn .btn2 a{
    color: white;
    text-decoration: none;
}

/* 资源申请应用 */
.zysq > .contain .det{
    margin-left: 88px;
    margin-top: 30px;
}
.zysq > .contain .det .detBg{
    margin-bottom: 20px;
}
.zysq > .contain .det .detBg label{
    color: #666666;
    display: inline-block;
    width: 199px;
    text-align: right;
}
.zysq > .contain .det .detBg label img{
    vertical-align: 1px;
    margin-right: 3px;
}
.zysq > .contain .det .detBg input,
.zysq > .contain .det .detBg textarea{
    width: 433px;
    height: 34px;
    border: 1px solid #bcc6de;
    text-indent: 6px;
}
.zysq > .contain .det .detBg textarea{
    width: 423px;
    padding: 5px;
    text-indent: 1px;
    outline: none;
    height: 79px;
}
.zysq > .contain .det .detBg span{
    display: inline-block;
    width: 435px;
    text-align: right;
}
.zysq > .contain .det .detBg .sp2{
    display: inline-block;
    width: 435px;
    text-align: center;
}
.zysq > .contain .det .detBg .sp2 button{
    margin: 0 22px;
}
.zysq > .contain .det .detBg .sp2 .btn1{
    background: #f3b542;
    background-image: linear-gradient(to right,#eaa93d,#fdc248);
}
.zysq > .contain .det .detBg .sp2 .btn2{
    background: #37b4df;
    background-image: linear-gradient(to right,#39a5dc,#35c5e3);
}
.zysq > .contain .det .detBg .sp2 .btn2 a{
    text-decoration: none;
    color: white;
}
.zysq > .contain .det .detLast{
    margin-bottom: 12px;
}
.zysq > .contain .det .detDiff label{
    vertical-align: 70px;
}

/* 资源申请确认 */
.zysqqr > .contain{
    padding: 5px 22px 40px 36px;
}
.zysqqr > .contain .top .font{
    font-size: 13px;
    color: #bb1c41;
    margin-bottom: 8px;
}
.zysqqr > .contain .top .topCon{
    border: 1px solid #dbebf6;
    background: #fbfefe;
    border-radius: 4px;
    padding: 12px 23px 12px 15px;
}
.zysqqr > .contain .top .topCon .topConSame label{
    font-size: 13px;
    color: #666666;
    display: inline-block;
    width: 170px;
    text-align: right;
}
.zysqqr > .contain .top .topCon .topConSame input{
    border: 1px solid #e4e8ec;
    text-indent: 6px;
}
.zysqqr > .contain .top .topCon .topConOne .leftSame input{
    width: 265px;
    height: 30px;
}
.zysqqr > .contain .top .topCon .topConOne .leftSame{
    float: left;
    width: 50%;
}
.zysqqr > .contain .top .topCon .topConOne .leftTwo{
    text-align: right;
}
.zysqqr > .contain .top .topCon .topConTwo{
    margin-top: 13px;
}
.zysqqr > .contain .top .topCon .topConTwo label{
    float: left;
    margin-top: 14px;
}
.zysqqr > .contain .top .topCon .topConTwo div{
    margin-left: 174px;
}
.zysqqr > .contain .top .topCon .topConTwo div input{
    width: 100%;
    height: 46px;
}
.zysqqr > .contain .bot .font{
    font-size: 13px;
    color: #bb1c41;
    margin: 15px 0 10px 0;
}
.zysqqr > .contain .bot .font1{
    margin: 12px 0 20px 0;
}
.zysqqr > .contain .bot .botTable .uiTable tbody tr:nth-child(odd){
    background: #f8f8fa;
}
.zysqqr > .contain .bot .botBtn{
    text-align: center;
}
.zysqqr > .contain .bot .botBtn .btn1{
    background: #f4b641;
    background-image: linear-gradient(to right,#f3af40,#f5bb41);
}
.zysqqr > .contain .bot .botBtn .btn2{
    background: #37b4df;
    background-image: linear-gradient(to right,#39a5dc,#35c5e3);
}


/* 全员人口信息 */
.qyrkPubTop p{
    float: right;
}
.qyrkPubTop p span{
    margin-left: 28px;
    color: #7d89ab;
    font-size: 13px;
}
.qyrkPubTop p span label{
    color: #7d89ab;
    font-size: 13px;
}
.qyrk > .contain .tabCon{
    padding-left: 30px;
    padding-top: 24px;
    border-bottom: 1px solid #c6e1f7;
}
.qyrk > .contain .tabCon .tabDet{
    float: left;
    width: 111px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #628bc3;
    background: #628bc3; 
    text-align: center;
    border-radius: 2px 2px 0 0;
    margin-right: 25px;
    color: white;
}
.qyrk > .contain .tabCon .tabDet i{
    vertical-align: -1px;
}
.qyrk > .contain .tabCon .tabDet label{
    color: white;
}
.qyrk > .contain .tabCon .tabDet.tabDetOne{
    border: 1px solid #38bdda;
    background: white; 
    color: #38bdda;
}
.qyrk > .contain .tabCon .tabDetOne label{
    color: #38bdda;
}
.qyrk > .contain .botCon{
    padding: 27px 17px 17px 30px;
}
.qyrk > .contain .botCon .one .uiTable{
    width: 746px;
    border: 1px solid #dadde6;
}
.qyrk > .contain .botCon .one .uiTable tr td{
    border: 1px solid #dadde6;
}
.qyrk > .contain .botCon .one .uiTable tr .tdFont{
    background: #fafafa;
    color: #807f7f;
    font-size: 14px;
    width: 103px;
    text-align: left;
    padding-left: 20px;
}
.qyrk > .contain .botCon .one .uiTable tr .tdInfo{
    font-size: 13px;
    color: #5e86bd;
    padding-left: 20px;
    width: 230px;
    text-align: left;
    background: white;
}
.qyrk > .contain .botCon .two{
    margin-top: 27px;
}
.qyrk > .contain .botCon .two .uiTable{
    border: 1px solid #dadde6;
}
.qyrk > .contain .botCon .two .uiTable thead tr th{
    background: #fafafa;
    color: #606a93;
    font-size: 14px;
    border: 1px solid #dadde6;
    padding: 9px 6px;
}
.qyrk > .contain .botCon .two .uiTable tbody tr td{
    font-size: 13px;
    border: 1px solid #dadde6;
    padding: 9px 6px;
    background: white;
}
.qyrk > .contain .botCon .two .uiTable tbody tr td a{
    display: inline-block;
    width: 62px;
    height: 20px;
    line-height: 21px;
    border-radius: 2px;
    background: #5b8ef0;
    color: white;
    background-image: linear-gradient(to right,#5785e2,#5f98ff);
}
.qyrk > .contain .botCon .three{
    text-align: center;
    margin-top: 41px;
}
.qyrk > .contain .botCon .three button{
    width: 112px;
    height: 31px;
    background: #5874c2;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 14px;
}

/* 资源申请内容弹框 */
.alertQyrk{
    width: 1160px;
    height: 555px;
}
.alertQyrk > .title{
    height: 55px;
    line-height: 55px;
}
.alertQyrk > .zysq .contain .det{
    margin-left: 180px;
    margin-top: 20px;
}

/* 申请管理页面 */
.manage > .left{
    width: 221px;
}
.manage > .left .leftTitle{
    width: 149px !important;
}
.manage > .left .leftTitle img{
    margin-right: 5px;
}
.manage > .left .leftFont{
    margin-top: 17px;
}
.manage > .left .leftFont img{
    margin-left: 22px;
    margin-right: 7px;
    vertical-align: -1px;
}
.manage > .right{
    margin-left: 235px;
    overflow: hidden;
}
.manage > .right .subTop{
    margin: 20px 20px;
    padding-bottom: 14px;
    border-bottom: 1px solid #cfe6fb;
}
.manage > .right .subTop .subTopTitle{
    color: #3a86ca;
}
.manage > .right .subTop .subTopCon{
    text-align: center;
}
.manage > .right .subTop .subTopCon .detBg{
    width: 550px;
    margin: 0 auto;
    text-align: left;
}
.manage > .right .subTop .subTopCon .detBg span{
    display: inline-block;
    width: 73px;
    height: 33px;
    line-height: 24px;
    text-align: center;
}
.manage > .right .subTop .subTopCon .detBg .sp1{
    color: #02b8d2;
    background: url("../../img/myhtml_imgs/manageImg3.png") no-repeat;
    margin-left: 61px;
}
.manage > .right .subTop .subTopCon .detBg .sp2{
    color: #05a0d0;
    background: url("../../img/myhtml_imgs/manageImg4.png") no-repeat;
    margin-left: 99px;
}
.manage > .right .subTop .subTopCon .detBg .sp3{
    color: #098cce;
    background: url("../../img/myhtml_imgs/manageImg5.png") no-repeat;
    margin-left: 99px;
}
.manage > .right .subTop .subTopCon .detTime{
    width: 550px;
    margin: 0 auto;
    text-align: right;
}
.manage > .right .subTop .subTopCon .detTime span{
    display: inline-block;
    font-size: 13px;
}
.manage > .right .subTop .subTopCon .detTime .sp1{
    margin-right: 70px;
}
.manage > .right .subTop .subTopCon .detTime .sp2{
    margin-right: 35px;
}
.manage > .right .subBot > .contain{
    padding-top: 12px;
}
.manage > .right .subBot > .contain .bot .font1 textarea{
    height: 51px;
    width: 100%;
    padding: 5px;
    border: 1px solid #dbebf6;
    background: #fbfefe;
    outline: none;
    margin-top: 8px;
}

/* 数据模型页面 */
.data .left{
    width: 185px;
}
.data .left .leftTitle{
    width: 115px;
}
.data .left .leftTitle img{
    margin-left: 12px;
    margin-right: 6px;
}
.data .left .leftFont .fontBg{
    height: 121px;
    background: url("../../img/myhtml_imgs/dataImg1.png") no-repeat;
    margin: 26px 0 0 28px;
}
.data .left .leftFont .fontBg div{
    margin-left: 2.5px;
    position: relative;
}
.data .left .leftFont .fontBg .fontBg1{
    padding-top: 2.5px;
}
.data .left .leftFont .fontBg .fontBg2{
    height: 54px;
    margin-top: -3.5px;
}
.data .left .leftFont .fontBg .fontBg3{
    margin-top: -4px;
    height: 55.6px;
}
.data .left .leftFont .fontBg span{
    position: absolute;
    left: 24px;
    bottom: 0px;
    color: black;
    cursor: pointer;
}
.data .left .leftFont .fontBg .fontBg1 span{
    color: #2bb0a0;
}
.data .left .leftFont .fontBg .fontBg2 span.change{
    color: #379fb5;
}
.data .left .leftFont .fontBg .fontBg3 span.change{
    color: #3d91c1;
}
.data .left .leftFont .fontBg .fontBg2 img,
.data .left .leftFont .fontBg .fontBg3 img{
    display: none;
}
.data .right{
    margin-left: 199px;
}
.data .right .mainOne .con{
    margin: 15px 35px 20px 35px;
}
.data .right .mainOne .con .sameCon .title i{
    display: inline-block;
    width: 4px;
    height: 12px;
    background: #2492e6;
    vertical-align: -1px;
    margin-right: 4px;
}
.data .right .mainOne .con .sameCon .det{
    margin-left: 11px;
    color: #44547f;
    margin-top: 13px;
}
.data .right .mainOne .con .sameCon .det label{
    color: red;
    margin: 0 3px;
}
.data .right .mainOne .con .conDiff{
    margin-top: 38px;
}
.data .right .mainOne .con .conDiff .det{
    width: 1028px;
    margin: 0 auto;
    margin-top: 20px;
}
.data .right .mainOne .con .conDiff .det .one .oneDet{
    width: 100%;
    margin-bottom: 5px;
}
.data .right .mainOne .con .conDiff .det .one .oneDet span{
    display: inline-block;
    font-size: 15px;
}
.data .right .mainOne .con .conDiff .det .one .oneDet .sp1{
    color: #0a84cd;
    margin-left: 69px;
}
.data .right .mainOne .con .conDiff .det .one .oneDet .sp2{
    color: #0693cf;
    margin-left: 269px;
}
.data .right .mainOne .con .conDiff .det .one .oneDet .sp3{
    color: #00aed3;
    margin-left: 237px;
}
.data .right .mainOne .con .conDiff .det .one .twoDet{
    margin-bottom: 0;
}
.data .right .mainOne .con .conDiff .det .one .twoDet .sp1{
    color: #0a84cd;
    margin-left: 209px;
}
.data .right .mainOne .con .conDiff .det .one .twoDet .sp2{
    color: #01aad3;
    margin-left: 220px;
}
.data .right .mainOne .con .conDiff .det .one .twoDet .sp3{
    color: #00aed3;
    margin-left: 243px;
}
.data .right .mainOne .con .conDiff .det .two{
    margin-top: 30px;
}
.data .right .mainOne .con .conDiff .det .two p{
    color: #44547f;
    font-size: 13px;
    margin-bottom: 10px;
}
.data .right .mainOne .con .conDiff .det .two p label{
    color: #44547f;
    font-size: 13px;
}

.data .right .mainTwo{
    display: none;
}
.manage > .right .mainTwo{
    display: block;
}
.data .right .mainTwo .con{
    padding: 13px 34px 15px 34px;
}
.data .right .mainTwo .con .conTop div input,
.data .right .mainTwo .con .conTop div select{
    border: 1px solid #c0daf1;
    border-radius: 2px;
    background: #f9fcff;
    text-indent: 5px;
    outline: none;
}
.data .right .mainTwo .con .conTop div label{
    color: #666666;
}
.data .right .mainTwo .con .conTop .topInOne{
    float: left;
}
.data .right .mainTwo .con .conTop .topInOne input{
    width: 157px;
    height: 25px;
}
.data .right .mainTwo .con .conTop .topInTwo{
    float: left;
    margin-left: 55px;
}
.data .right .mainTwo .con .conTop .topInTwo input{
    width: 101px;
    height: 25px;
}
.data .right .mainTwo .con .conTop .topInTwo i{
    display: inline-block;
    width: 23px;
    height: 1px;
    background: #dcdcdc;
    vertical-align: 4px;
    margin: 0 2px;
}
.data .right .mainTwo .con .conTop .topInThree{
    float: left;
    margin-left: 30px;
}
.data .right .mainTwo .con .conTop .topInThree select{
    width: 103px;
    height: 27px;
}
.data .right .mainTwo .con .conTop .topInFour{
    float: right;
}
.data .right .mainTwo .con .conTop .topInFour button{
    width: 73px;
    height: 27px;
    font-size: 14px;
    margin: 0 11px;
}
.data .right .mainTwo .con .conTop .topInFour .btn1{
    background: #f3b542;
    background-image: linear-gradient(to right,#eaa93d,#fdc248);
}
.data .right .mainTwo .con .conTop .topInFour .btn2{
    background: #37b6e0;
    background-image: linear-gradient(to right,#39a5dc,#35c5e3);
}
.data .right .mainTwo .con .conBot .conBotTab{
    border-bottom: 1px solid #cfe6fb;
    margin-top: 40px;
}
.data .right .mainTwo .con .conBot .conBotTab .tab{
    float: left;
    position: relative;
    margin-left: 36px;
}
.data .right .mainTwo .con .conBot .conBotTab .tabFirst{
    margin-left: 16px;
}
.data .right .mainTwo .con .conBot .conBotTab .tab span{
    display: inline-block;
    width: 73px;
    height: 35px;
    line-height: 28px;
    background: url("../../img/myhtml_imgs/dataGlImg2.png") no-repeat;
    text-align: center;
    color: #2d70af;
    padding-bottom: 6px;
    cursor: pointer;
}
.data .right .mainTwo .con .conBot .conBotTab .tab span.active{
    background: url("../../img/myhtml_imgs/dataGlImg1.png") no-repeat;
    color: white;
}
.data .right .mainTwo .con .conBot .conBotTab .tab p{
    position: absolute;
    bottom: -1.5px;
    width: 100%;
    height: 3px;
    background: #1082ec;
}
.data .right .mainTwo .con .conBot .conBotTable{
    margin-top: 30px;
}
.data .right .mainTwo .con .conBot .conBotTable .uiTable tr th{
    font-size: 14px;
    padding: 7px 6px;
}
.data .right .mainTwo .con .conBot .conBotTable .uiTable tr td{
    font-size: 13px;
    padding: 7px 6px;
}
.data .right .mainTwo .con .conBot .conBotTable .uiTable tr td .cz{
    color: #807f7f;
    cursor: pointer;
}
.data .right .mainTwo .con .conBot .conBotTable .uiTable tr td .cz img{
    margin-right: 3px;
}
.data .right .mainTwo .con .conBot .conBotTable .uiTable tr td .czOne{
    margin-right: 10px;
}
.data .right .mainTwo .con .conBot .conBotTable .uiTable tr td .no{
    color: red;
}
.data .right .mainThree .con .conBot .conBotTable .uiTable tr td .cz{
    color: #4c6fcf;
}
.data .right .mainThree .con .conBot .conBotTable .uiTable tr td .cz img{
    margin-right: 3px;
    vertical-align: -2px;
}
.manage > .right .mainTwo .pubTop{
    color: #355597;
}
.manage > .right .mainTwo .con .conBot .conBotTable .uiTable tr td .sq{
    color: #1a71d3;
}
.manage > .right .mainTwo .con .conBot .conBotTable .uiTable tr td .qr{
    color: black;
}
.manage > .right .mainTwo .con .conBot .conBotTable .uiTable tr td a{
    display: inline-block;
}
.manage > .right .mainTwo .con .conBot .conBotTable .uiTable tr td .cz button{
    background: #39a6dc;
    margin: 0 7px;
    width: 66px;
}
.manage > .right .mainTwo .con .conBot .conBotTable .uiTable tr td .czOther button{
    background: #ebaa3d;
}


/* 新增按钮的弹框 */
.alertXz{
    width: 700px;
    height: 500px;
}
.alertXz > .zysq .contain .det{
    margin: 10px 20px 0 55px;
}
.alertXz > .zysq .contain .det .detBg{
    position: relative;
}
.alertXz > .zysq .contain .det .detBg label{
    width: 130px;
}
.alertXz > .zysq .contain .det .detBg input{
    width: 334px;
}
.alertXz > .zysq .contain .det .detBg .diffSp{
    position: absolute;
    color: #d83737;
    width: 140px;
    height: 100%;
    right: 5px;
    text-align: left;
    top: -1px;
}
.alertXz > .zysq .contain .det .detBg .sp2{
    text-align: left;
}
.alertXz > .zysq .contain .det .detBg .sp2 button{
    margin: 0;
}
.alertXz > .zysq .contain .det .detBg .sp2 .btn1{
    background: #249cb2;
}
.alertXz > .zysq .contain .det .detBg .sp2 .btn2{
    margin-left: 32px;
    background: #cdcdcd;
    color: #065e6e;
}
.alertTy{
    width: 600px;
    height: 350px;
}
.alertTy .alertCon{
    border-top: 1px solid #CCCCCC;
    padding: 15px 20px;
}
.alertTy .alertCon textarea{
    margin-top: 6px;
    width: 100%;
    height: 200px;
    outline: none;
    text-indent: 5px;
}
.alertTy .alertCon .detBtn{
    margin-top: 10px;
    text-align: center;
}
.alertTy .alertCon .detBtn .btn1,
.alertCktgx .alertCon .detBtn .btn1{
    background: #249cb2;
}
.alertTy .alertCon .detBtn .btn2,
.alertCktgx .alertCon .detBtn .btn2{
    background: #cdcdcd;
    color: #065e6e;
    color: #065e6e;
}

.alertCktgx,.alertBjtgx{
    width: 750px;
    height: 510px;
}
.alertCktgx .alertCon,.alertBjtgx .alertCon{
    margin: 5px 30px;
}
.alertCktgx .alertCon .detBtn,.alertBjtgx .alertCon .detBtn{
    margin-top: 15px;
    text-align: center;
}
.alertBjtgx .alertCon{
    height: 400px;
    overflow-y: auto;
}
.alertBjtgx .alertCon .uiTable tr td input{
    width: 100%;
    height: 100%;
    border: none;
}
.alertBjtgx .alertCon .uiTable tr td select{
    border: none;
    outline: none;
}
.alertBjtgx .alertCon .addImg{
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}
.alertBjtgx .detBtn{
    margin-top: 15px;
    text-align: center;
}
.alertBjtgx .detBtn .btn1{
    background: #249cb2;
}
.alertBjtgx .detBtn .btn2{
    background: #cdcdcd;
    color: #065e6e;
    color: #065e6e;
}

.manSh{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.manSh > .right{
    top: 0;
    margin: 0;
    border: none;
    overflow: auto;
    background: white;
}
.manSh > .right .subTop {
    margin: 0 20px 20px 20px;
    padding-top: 20px;
    padding-bottom: 14px;
    border-bottom: 1px solid #cfe6fb;
}
.manSh .zyml > .contain .page .pageLeft {
    width: 460px;
    float: inherit;
    margin: 0 auto;
}
.manShPd > .right .subBot .bot .botBtn{
    margin-top: 15px;
}
.alertJj,.alertTg{
    height: 330px;
}